.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem; /* Font size for larger screens */
    color: #ffffff;
    text-align: center;
    margin-bottom: -1rem;
  }
  
  .content h3 {
    color: white;
  }
  
  .registerButton {
    font-size: 2rem; /* Default font size for larger screens */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    width: 17.5rem; /* 280px in rem */
    height: 4rem; /* 64px in rem */
    padding: 0.8rem 2rem;
    background: linear-gradient(to right, #00FFEE, #FFAA4F); /* Horizontal gradient */
    border: none;
    border-radius: 3rem;
    color: black;
    cursor: pointer;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
  }
  
  .registerButton:hover {
    box-shadow: 0 0 15px 5px rgba(0, 255, 238, 0.8), 
                0 0 15px 5px rgba(255, 170, 79, 0.8); /* Glow effect with gradient colors */
  }

  .certificates{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;

    h5{
      font-size: 2rem;
      color: aliceblue;
      margin-top: -0.5rem;
    }

    img{
      width: 15rem;
      height: auto;
    
    }

    .merit, .participation{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0;
      margin-top: 2rem;
    
    

    }
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .content h1 {
      font-size: 3rem; /* Adjust heading size for smaller screens */
      margin-bottom: 0;
    }

    .content h3{
        font-size: 0.8rem;
        align-self: center;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -1rem;
    }
  
    .registerButton {
      font-size: 1.5rem; /* Reduce button text size */
      width: 14rem; /* Reduce button width */
      height: 3.5rem; /* Reduce button height */
      padding: 0.6rem 1.5rem; /* Adjust padding */
    }
  }
  
  @media (max-width: 480px) {
    .content h1 {
      font-size: 2.5rem; /* Further reduce heading size for very small screens */
      margin-bottom: 1.2rem;
    }
.content{
  margin-bottom: -12rem;
}
 
  
    .registerButton {
      font-size: 1.2rem; /* Further reduce button text size */
      width: 12rem; /* Smaller button width */
      height: 3rem; /* Smaller button height */
      padding: 0.5rem 1rem; /* Adjust padding for smaller screens */
    }

   .certificates{
    flex-direction: column;
    gap: 1rem;

    h5{
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }

    margin-bottom:2rem;
   }


  }
  